body {
    background-color: lightblue;
}
#nav {
    background-color: purple;
}
.aside {
    background-color: lightgreen;
}
.section {
    background-color: red;
}
footer {
    background-color: yellow;
}