body {
    background-color: lightblue;
}
nav {
    background-color: purple;
}
aside {
    background-color: lightgreen;
}
footer {
    background-color: yellow;
}
section {
    background-color: red;
}