main{
    display: flex;
}
header{
    background-color: burlywood;
    font-size: 14;
    font-style: italic;
    height: 50px;
}
body {
    background-color: lightblue;
    min-height: 100%;
    min-width: 100%;
    text-align: center;
    font-style: oblique;
}
#nav {
    background-color: goldenrod;
    height:100px;
}
.article { 
    background-color: moccasin;
    height:200px;
    flex:2;
    font-size: 12px;

}
.aside {
    background-color: lightgreen;
    height:200px;
    flex:1;
}
.section {
    background-color: red;
    margin-top: 85px;
    min-height: 100px;
    text-size-adjust: 50%;
    font-size: 20px;
}
footer {
    background-color: yellow;
    height: 50px;
}
p, body {
margin:0;
padding:0;
}
ul {
margin:0;
padding:0;
list-style-type: none;
}
li{
display: inline-block;
width:33%;
}
a{
display: inline-block;
width: 100%;
}
a:hover{
background-color:mediumspringgreen;
}
